# Environment Mode
NODE_ENV=production

# Frontend Build-time Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_token_here

# Backend Runtime Environment Variables
DATA_API_KEY=your_data_api_key_here
PORT=5000
